CHRONIK_URLS=https://chronik-native1.fabien.cash,https://chronik-native2.fabien.cash
SQLITE_PATH=./data/etokendb.sqlite
SERVER_HOST=127.0.0.1
SERVER_PORT=8787

BOOTSTRAP_CONCURRENCY=8
ACTIVE_GROUP_PAGE_SIZE=50
HISTORY_PAGE_SIZE=200
TAIL_PAGE_COUNT=2
DISCOVERY_INTERVAL_MS=3600000
DISCOVERY_PAGE_DELAY_MS=100
TIP_REFRESH_INTERVAL_MS=60000
POLL_INTERVAL_MS=60000
REQUEST_TIMEOUT_MS=20000
REQUEST_RETRY_COUNT=3
WS_CONNECT_TIMEOUT_MS=10000
READINESS_MAX_TIP_AGE_MS=300000
BLOCK_CATCHUP_BATCH_SIZE=100

BACKUP_DIR=./backups
BACKUP_RETENTION_COUNT=7

REVIEW_PAYMENT_ADDRESS=
REVIEW_BASE_FEE_SATS=10000000
REVIEW_INVOICE_TTL_MS=1800000
REVIEW_RETRY_INTERVAL_MS=60000
PROJECT_INFO_PAYMENT_ADDRESS=
